
Dockerfile
.dockerignore


node_modules
**/node_modules

dist
build
.out
.next

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.git
.gitignore
.github

.env
.env.local
.env.*.local

.vscode
.idea

*.md
*.pdf
*.zip
*.tar
